@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255;   /* White background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-start-rgb: 0, 0, 0;  /* Black background for dark mode */
    --background-end-rgb: 0, 0, 0;    /* Black background for dark mode */
  }
}

body {
  transition: all .5s ease;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--foreground-rgb)); /* Solid white background */
}
/* Global styles */
.Toastify__toast-container {
  width: fit-content !important;
  left: 50% !important;
  bottom: 20px !important;
  transform: translateX(-50%) !important;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .Toastify__toast-container {
    width: 80% !important;            /* Increase width on mobile */
    max-width: 100% !important;      /* Ensure it can be full-width on small screens */
    font-size: 12px !important;
  }

  .Toastify__toast-body {
    font-size: 12px !important;
  }

  /* .Toastify__toast-body span {
    font-size: 13px !important;
  } */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
